<!DOCTYPE html>
<html lang="en" ng-app="lesson" ng-controller="Papa">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style>
	ul li{
		list-style: none;
	}
	</style>
</head>
<body>
	<form  ng-submit="PostForm()">
		<ul>
			<li>
				<label for="">用户名</label>
				<input type="text" ng-model="form.UserName">
			</li>
			<li>
				<label for="">昵称</label>
				<input type="text" ng-model="form.NickName">
			</li>
			<li>
				<label for="">年龄</label>
				<input type="text" ng-model="form.Age">
			</li>
			<li>
				<label for="">是否已婚</label>
				<input type="checkbox" ng-model="form.isMarried">
			</li>
			<li>
				<label for="">喜爱动物</label>
				<input type="radio" ng-model="form.loveAnimal" value="狗">狗
				<input type="radio" ng-model="form.loveAnimal" value="猫">猫
				<input type="radio" ng-model="form.loveAnimal" value="貂">貂

			</li>
			<label for="">居住城市</label>
			<select name="" id="" ng-model="form.LocationCity" ng-options="obj.value as obj.text for obj in form.LocationCityList">
				<option value="">请选择</option>
				<!-- <option value="北京">北京</option> -->
				<!-- <option value="上海">上海</option> -->
				<!-- <option value="广州">广州</option> -->
			</select>
			<input type="submit" value="submit">
		</ul>
	</form>
	<ul>
		<li>{{form.UserName}}</li>
		<li>{{form.NickName}}</li>
		<li>{{form.Age}}</li>
		<li>{{form.isMarried}}</li>
		<li>{{form.loveAnimal}}</li>
		<li>{{form.LocationCity}}</li>
	</ul>
	<script src="scripts/angular-1.4.6.min.js"></script>
	<script>
	var app = angular.module("lesson",[]);
	app.controller("Papa",function($scope){
		$scope.formInitObj = {
			UserName:'',
			NickName:'',
		};
		$scope.form = {};

		$scope.form.LocationCityList = [
			{text:'北京',value:'bj'},
			{text:'上海',value:'sh'},
			{text:'广州',value:'gz'},

		];
		$scope.PostForm = function(){
			console.log($scope.form);
			$scope.form = angular.copy($scope.formInitObj);
		}
	});
	</script>
</body>
</html>